 <!-- <h1> <%= @game.score %> </h1> -->
<h1> <%= @message %> </h1>
<h1> <%= @score %> </h1>

<img src= <%="../#{@game.player_move}.jpg"%>>
<img src="../vs.jpg">
<img src= <%="../#{@game.computer}.jpg"%>>

